ion-content {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  ion-list {
    margin-top: 20px;
  }
  
  ion-item {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
  
  ion-label {
    max-width: 80%;
  }
  
  ion-button {
    --background: transparent;
    --color: #762e91;
    --border-radius: 50%;
    margin-left: 12px;
  }
  
  ion-img {
    max-width: 100px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  ion-fab-button {
    --background: #762e91;
    --color: white;
  }
  
  ion-fab-button:hover {
    --background: #4b1c6e;
  }

  ion-icon{
    font-size: 25px;
  }
  
 ion-modal{
    --width: 320px; 
    --height: 220px; 
    --border-radius: 15px; 
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  
    ion-header {
      --background: #773aa3; 
      --color: white;
    }
  
    ion-content {
      text-align: center;
      margin: auto;
      padding: 16px;
      font-size: 16px;
      color: #333;
    }
  
    .modal-content p {
      text-align: center;
      margin: auto;
      padding-top: 20px;
      font-size: 16px;
      font-weight: 500;
    }
  
    ion-footer {
      ion-toolbar {
        --background: #f8f9fa;
        display: flex;
        justify-content: space-between;
      }
  
      ion-button {
        max-width: 300px;
        width: auto;
        align-items: center;
        --background: #762e91;
        --color: white;
        --border-radius: 4px; 
        --padding-start: 16px;
        --padding-end: 16px;
        transition: background-color 0.3s ease;
      }
      
      ion-button:hover {
        --background: #4b1c6e;
      }
    }
  }
  